.welcomeHeaderText {
  font-size: 30px;
}

.carouselTextContainer {
  max-height: 600px;
  max-width: 500px;
  width: 30%;
}

.arrowFontSize {
  font-size: 25px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
}

.borderBottomIndicator {
  border-bottom: 1px solid white;
}

.borderBottomIndicatorActive {
  border-bottom: 2px solid #4390fa;
  font-weight: bold;
  font-size: 20px;
}

.titleHeader {
  font-size: 100px;
}

/* @media (min-width:280px){
  max
} */
